.input-container {
    border-style: solid;
    border-color: rgb(135, 183, 245);
    border-width: 3px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container {
    max-width: 1600px;
}

.container-header{
    font-size: 24px;
    text-align: center;
}

.input-container:hover {
    opacity: 0.2;
    backface-visibility: hidden;
    transition: .3s ease;
}

.container:hover .add-malt-content-symbol{
    opacity: 1;
}

.add-malt-content-symbol {
    /* transition: 0.3s ease; */
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* text-align: center; */
    /* z-index: 1; */
}

.fa-plus-square{
    transition: 1.5s ease;
    font-size: 50px;
}

details{
    background-color: blanchedalmond;
    border: none;
    margin-bottom: 10px;;
}

.overlay-malt {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

tr {
    cursor: pointer;
}

.main-info-header {
    font-size: 36px;
    padding-bottom: 10px;
}

.main-info-sub{
    padding-bottom: 10px;
}

.my-seperator {
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-button {
    float: right;
    padding-right: 3px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-width: 2px;
    max-width: 100%;
    min-width: 20%;
}

/* Hide canvas on small screens */
@media only screen and (max-width: 1226px) {
    .bottle-canvas {
        display: none;
    }
}

@media (min-width: 768px) {
.col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* width: 30px; */
    max-width: 100%;
    }
}

.plus-grow { transition: all .2s ease-in-out; }
.plus-grow:hover { transform: scale(1.1); }