.input-container {
    border-style: solid;
    border-color: rgb(135, 183, 245);
    border-width: 3px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container-header{
    font-size: 24px;
    text-align: center;
}

details{
    background-color: blanchedalmond;
    border: none;
    margin-bottom: 10px;;
}

.main-info-header {
    font-size: 36px;
    padding-bottom: 10px;
}

.main-info-sub{
    padding-bottom: 10px;
}

.my-seperator {
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-button {
    float: right;
    padding-right: 3px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-width: 2px;
    max-width: 100%;
    min-width: 20%;
}

/* Hide canvas on small screens */
@media only screen and (max-width: 1226px) {
    .bottle-canvas {
        display: none;
    }
}

@media (min-width: 768px) {
.col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* width: 30px; */
    max-width: 100%;
    }
}

.plus-grow { transition: all .2s ease-in-out; }
.plus-grow:hover { transform: scale(1.1); }